@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100vh;
}

.chat-item .avatar.online:before {
    width: 10px;
    height: 10px;
    top:1% ;
    right: 1%;
    outline-width: 1px ;
}
